<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/bootstrap.min.css">
		<script src="../static/bootstrap.bundle.min.js"></script>
		<script src="../static/jquery.min.js"></script>
		<script>
		result = "";
		function reload() {
			$.get("/api", function(res) {
				if (res != result) {
					result = res;
					window[0].document.location.reload();
				}
			})
		}
		function _onload() {
			setInterval(reload, 1000);
		}
		</script>
	</head>
	<body>
		<form action="/chat" class="m-3 p-2 card" method="post">
		<input type="text" class="form-control" value="{{username}}" disabled="disabled" name="username">
		<div class="input-group mb-3">
		<textarea type="text" class="form-control" placeholder="信息" name="message"></textarea>
		<div class="input-group-append">
		<button type="submit" class="btn btn-primary">发送</button>
		</div>
		</div>
		</form>
		<iframe style="position: absolute; " id="iframe" src="/api" width="100%" height="100%" frameborder="0" onload="_onload()"></iframe>
	</body>
</html>
